.registration-background-left-side
{
    background-color: #545796;
    height: 100%;
    width: 40%;
    float: left;
    display: flex;
    flex-direction: column;
}

.registration-main
{
    margin: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.registration-background-right-side
{
    background: url("/img/img/BackgroundRegistr.png") 100% 50%;

    display: flex;
    flex-direction: column;

    align-items: center;
   
    height: 100%;

    width: 60%;
   
   
}

.div-registration-form
{
    width: 100%;
    height: 70%;
}

.registration-button-menu
{
  position: absolute;
  background-color: grey;
width: 110px;
height: 110px;
border-radius: 180px;
}

.registration-button-menu-part1
{
  position: absolute;
  width: 60px;
  height: 20px;
  background: #3f3f3f;
  top:45px;
  left: 25px;
  translate:(-50%,-50%);
}

.registration-button-menu-part2
{
  position: absolute;
  width: 60px;
  height: 20px;
  background: #3f3f3f;
  top:20px;
  left: 25px;
  translate:(-50%,-50%);
}

.registration-button-menu-part3
{
  position: absolute;
  width: 60px;
  height: 19.83px;
  background: #3f3f3f;
  top:70px;
  left: 25px;
  translate:(-50%,-50%);
}

.registration-form
{
position: absolute;
width: 400px;
height: 500px;
top: 55%;
left: 20%;
transform: translate(-50%, -50%);
display: flex;
flex-direction: column;
background: rgba(196, 196, 196, 1);
border-radius: 58px;
font-family: Palatino, URW Palladio L, serif;;
}

.registration-form div
{
    flex-basis: 12%;
    position: relative;
    top:2%;
}

.submit-button-registration-form
{
    /* right: 15%; */
    align-self: center;
}


.registration-form div div{
    position: absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
}

.title-registration-form
{
    font-size: 32px;
}


.registration-logo-language-right-side
{
position: absolute;
width: 300px;
height: 300px;
left: 60%;

}

.registration-logo-bank-right-side
{
    position: absolute;
    width: 450px;
    height: 150px;
    margin-top: 400px;
    left: 55%;
}

.registration-language-description-right-side
{
position: absolute;
font-size: 20px;
top:45%;
width: 300px;
height: 200px;
left: 60%;
}

.list-tests-page
{
    display: flex;
    flex-direction: column;
    margin: 0;

    height: 100%;
    width: 100%;

    opacity: 0;
    animation: ani 2.5s forwards;
}
@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.list-tests-background-left-side
{
    background-color: #545796;
    height: 100%;
    width: 50%;
   
}


.list-tests-background-right-side
{
    background: url("/img/img/BackgroundRegistr.png") 100% 50%;

   width: 50%;

    height: 100%;
}

.list-tests-title-left-side
{
    font-size: 40px;
    color: white;
    font-family: Gabriela;

    opacity: 0;
    animation: ani 4s forwards;
}

@keyframes ani {
    0% {opacity: 0;}
    100% {opacity: 1;}
  }

.list-tests-title-background-left-side
{   position: relative;
    font-family: Gravitas One;
    font-size: 60px;
    top:25%;
    left: 5%;
    color: white;
    transform: translateX(-150%);
  animation: titleani 2s forwards;
}
@keyframes titleani {
    0% {transform: translateX(-150%);}
    100% {transform: translateY(0);}
  }

.list-tests-footer
{
    position: relative;
    width: 100%;
    height:30%;
    background-color: grey;
    display: flex;
    flex-wrap: wrap;
    
}


.list-tests-img-test
{
    width: 150px;
    height: 150px;
}

.list-tests-test
{
    position: relative;
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    left: 5%;
    transform: translateY(150%);
    animation: testanim 2s forwards;
    width: 90%;
    overflow: hidden;
}

@keyframes testanim {
    0% {transform: translateY(150%);}
    100% {transform: translateY(0);}
  }

.list-tests-choise-test-title-left-side
{
    position: absolute;
    font-family: Gravitas One;
    font-size: 30px;
    top:95%;
    color: white;
}

.list-test-title-who-made-test
{
    display: inline-block;
    color: white;
    flex: none !important;
    
}

.list-test-sign-who-made-test
{
display: inline-block;
width: 21.02px;
height: 18.46px;
border-radius: 180px;
margin-right: 5%;


background: #15D334;

}


.list-tests-page-main
{
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
}

.page-main-left-side
{
    background-color: rgba(84, 87, 150, 0.8);
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 40%;
}

.page-main-right-side
{
    background: url("/img/img/BackgroundRegistr.png") 100% 50%;
    height: 100%;
    width: 65%;
}

.title-left-side
{
    height:20% ;
    font-size: 45px;
    font-family:  Gravitas One;;
    margin-top: 2%;
    color: white;
}

.title-test-left-side
{
    height:40%;
    margin-top: 15%;
    color: white;
    font-size: 35px;
    
}
.div-all-test-title-left-side
{
    height: 40%
}

.all-test-title-left-side
{position: absolute;
    bottom: 0px;
    margin: 0 0 10px 10px;
    font-size: 20px;
    color: white;
}

.div-all-test-title-left-side
{
    position: relative;
    color: white;
}

.list-tests-img-test
{
    background: url(/img/img/Clogo.png);
    border-radius: 180px;
}

.right-arrow-footer
{
    position: absolute;
    height: 100%;
    width: 5%;
    right: 0px;
    
}

.left-arrow-footer
{
    position: absolute;
    height: 100%;
    width:5%;
}

.list-tests
{
    position: relative;
    display: flex;
    flex-direction: row;
    transition: all 1s;
}

.div-who-made
{
    display: flex;
    flex-direction: row;
}

.test
{
    margin-left: 70px;
    cursor: pointer;
    margin-bottom: 40px;
    user-select: none;
    background: #f0f8ff00;
    transition: all 0.3s;
}
.test:hover{
    background: #f0f8ff24;
}

.bar-menu
{
    position: fixed;
    top:0;
    height: 100%;
}

.background-menu
{
    background-color: grey;
    position: absolute;
    height: 100%;
    width: 250px;
    transform: translate(-300px,0px);
    z-index: 1;
    transition: all 1s
}

.punkti-menu
{
    height: 100%;
    display: flex;
    flex-direction: column;
}

.photo-menu
{
    position: relative;
    height: 80px;
    width: 80px;
    margin-top: 10px;
    border-radius: 180px;
    background-color:green;
    margin-left: 15px;
}

.img-menu-bar
{
    width: 100%;
    height: 100%;
    object-fit: cover;		
}

.photo-fio
{
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
}

.fio-menu
{
    position: relative;
    margin-top: 30px;
    margin-left: 30px;
    font-size: 25px;
    font-family: Gabriela;
}

.punkti-menu
{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    bottom: 40px;
}

.punkt-menu
{
    font-family: Gabriela;
    font-size: 25px;
    margin-top: 60px;
    text-decoration: none;
    transition: 0.5s;
}

.punkt-menu:hover
{
    transform:scale(1.1);
    color: white;
}

.button-menu
{
position: absolute;
width: 105px;
height: 105px;
background-color: grey;
border-radius: 180px;
margin-left: 8px;
margin-top: 5px;
z-index: 2;
}

.button-polosi
{
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.polosa
{
    position: relative;
    height: 12px;
    width: 65px;
    background-color: #fff;
    align-self: center;
    margin-top: 15px;
}

.openbar 
{
    /* animation: openBar 1s forwards; */
    transform: translate(0px,0px);
    transition: all 1s;
}@keyframes openBar {
    0% {transform: translate(-300px,0px);}
    100% {transform: translate(0px,0px);}
  }
  .hidd{
    height: 140px;
  }

  .arrow-button{
    font-size: 20px;
    border: none;
    cursor: pointer;
    background: #f0f8ff2e;
    transition: all 0.3s;
  }

  .arrow-button:hover{
    font-size: 22px;
    background: #f0f8ff75;
  }

  .font_size_16{
      font-size: 16;
  }

  .div_button
  {
    width: fit-content;
    display: block;
    margin-left: auto;
    margin-right: auto
  }

  .link-router
  {
    text-decoration: none;
    color: rgb(11, 116, 25);
    transition: 0.5s;
  }
  .link-router:hover
  {
      color: white;
  }

  .exit-profile-button
  {
      margin-top: 35px;
  }

  .button-exit
  {
    background-image: linear-gradient(to right, #89bd9b 0%, #179b56 100%);
    border-radius: 40px;
    box-sizing: border-box;
    grid-column: 2;
    grid-row: 3/4;
      display: flex;    
      justify-content: space-around;
      padding: 0 80px;
    color: #63f2a6;
    display: block;
    height: 50px;
    font-size: 1.4em;
    padding: 4px;
    position: relative;
    text-decoration: none;
    width: 7em;
    z-index: 2;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition: 0.5s;

  }
  .button-exit:hover
  {
    transform: scale(1.1);
    color: #fff;
  }

  .button-exit .button-exitspan
  {
    align-items: center;
    background: rgb(11 146 90);
    border-radius: 40px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
  }
  
  .button-exit:hover .button-exitspan
  {
    background: transparent;
  }

  .profile-page
  {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
  }

  .profile-main-part
  {
      width: 100%;
      height: 66%;
      background-color:rgba(84, 87, 150, 0.8) ;
      display: flex;
      flex-direction: row;
  }

  .profile-footer-part
  {
    width: 100%;
    height: 34%;
    background-color:grey;
  }

  .profile-email-telephone
  {
      height: 90%;
      width: 33%;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      font-size: 30px;
      font-family: PT Serif;
      margin-left: 50px;
  }
  .profile-photo-fio
  {
      margin-top: 20px;
    height: 90%;
    width: 33%;
    display: flex;
    flex-direction: column;
    width: fit-content;
    margin-left: auto;
    margin-right: auto
  }

  .profile-id-counter
  {
    height: 100%;
    width: 34%;
  }

  .profile-text-email
  {
      
    margin-top: 30px;
  }
  .profile-input-email
  {
    margin-top: 80px;
  }

  .profile-photo
  {
    width: 300px;
    height: 300px;
    background-color: white;
    border-radius: 180px;
  }

  .profile-fio
  {
      width: 100%;
      margin-top: 30px;
      font-size: 25px;
      font-family: PT Serif;
  }


  .profile-id-counter
  {
      height: 90%;
      display: flex;
      flex-direction: column;
      margin-top: 50px;
      font-size: 30px;
      font-family: PT Serif;
      margin-right: 50px;
  }

  .profile-id
  {
    margin-top: 30px;
  }

  .profile-input-id
  {
    margin-top: 30px;
    
  }

  .profile-title-footer-part
  {
        text-align: left;
        font-size: 25px;
        font-family: PT Serif;
  }

  .profile-footer-list-url
  {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

  }

  .profile-footer-url
  {
     font-size: 25px;
    width: 23%;
    font-family: PT Serif;
    transition: 0.5s; 
     text-align: center; 
     margin-left: 25px;
     display: flex;
     flex-direction: column;
    
  }

  .icon-footer-url
  {
      height: 50px;
      width: 50px;
      align-self: center;
  }

  .profile-footer-url:hover
  {
    transform: scale(1.1);
    
  }

  .url
  {
    text-decoration: none;
    color: rgb(11, 116, 25);
    
  }

  .url:hover
  {
      color:white;
  }

  .profile-footer-part
  {
      width: 100%;
      display: flex;
      flex-direction: column;
  }

  .profile-email-icon
  {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }

  .profile-id-icon
  {
    height: 40px;
    width: 40px;
    margin-top: 10px;
  }
  
  .profile-photo-img
  {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }