html, body{
    margin: 0;

}
#app{
    margin: 0 !important;
}

.First-card{
   width: 1920px;
   height: 751px;
   background-color: #545796CC;
   
}
.Second-card{
    width: 1920px;
    height: 329px;
    background-color: #C4C4C4;
    
 }
 .First-Tittle{
     font-size: 64px;
     text-align:center;
     color:white;
     position: static;
     left: 50%;
 }
 .First-image{
     position: absolute;
     left:0px;
     top: 150px;
     width: 682px;
     height: 604px;
 }
 .emblem{
    position: absolute;
    left:1090px;
    top: 0px;
    width: 131px;
    height: 105px;
 }
 .Background-text{
    position: absolute;
    left:1000px;
    top: 160px;
    width: 794px;
    height: 266px;
    background-color: #545796CC;
    opacity: 60%;
    border-radius: 20px;
 }
 .First-Text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    position: absolute;
    left:1100px;
    top: 185px;
    font-size: 45px;
    color:white;
    
 }
 .First-Button{
   
 }
 .Second-Button{
    
 }
 .Second-Text{
    position: static;
    left: 50%;
    top: 800px;
    font-size: 45px;
    color:white;
 }
 .Photo1{
     height: 200px;
     width: 200px;
     border-radius: 50%;
     position: absolute;
     background-color: rgb(192, 117, 47);
     left: 50px;
     top: 810px;
 }
 .Photo2{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(192, 117, 47);
    left: 1670px;
     top: 810px;
}
.Photo3{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    position: absolute;
    background-color: rgb(192, 117, 47);
    left: 860px;
     top: 810px;
}
.Photo-text1{
    position: absolute;
    left: 25px;
    top:  1020px;
    font-size: 20px;
    color:white;
}
.Photo-text2{
    position: absolute;
    left: 830px;
    top:  1020px;
    font-size: 20px;
    color:white;
}
.Photo-text3{
    position: absolute;
    left: 1645px;
    top:  1020px;
    font-size: 20px;
    color:white;
}
.First-button {
    position: absolute;
    left:1000px;
    top: 500px;
    width: 350px;
    height: 100px;
    background-color: #545796CC;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.First-button:hover {
    transform: translateY(-7px);
    background-color: #00abfa; /* Green */
    color: white;
}
.Second-button {
    position: absolute;
    left:1450px;
    top: 500px;
    width: 350px;
    height: 100px;
    background-color: #545796CC;
    border-radius: 20px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.Second-button:hover {
    transform: translateY(-7px);
    background-color: #00abfa; /* Green */
    color: white;
}