html, body{
    margin: 0;

}
#app{
    margin: 0 !important;
}

.First-card{
   width: 1920px;
   height: 751px;
   background-color: #545796CC;
   
}
.Second-card{
    width: 1920px;
    height: 329px;
    background-color: #C4C4C4;
    
 }