.background-img{
    position: absolute;
    background: url("/img/img/Welcome-background.png") no-repeat;
    height: 100%;
    width: 100%;
    background-size: 100%;
}
html, body{
    margin: 0;

}
#app{
    margin: 0 !important;
}

.card-text{
  
}
.tittle{
    font-size: 80px;
    margin: 80px auto;
    color: #0B5FA5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.Titlesecond{
    font-size: 40px;
    margin: 80px auto;
    color: #0B5FA5;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}