.Background{
    background-color: #ffffffcc;
    width: 1920px;
    height: 1080px;
    
    
 }
 .Image{
     width: 1086px;
     height: 1080px;
     position: absolute;
     right: 0%;
     top: 0%;
 }
